/********************************
 ** ERROR HANDLING **
 ********************************/

.data-fail-msg {
	background: #fff;
	color: #ca1818;
	padding: 16px;
}

.iw-error {
	color: #ca1818;
  margin: 8px 0;
}