/********************************
 ** ERROR HANDLING **
 ********************************/

.data-fail-msg {
	background: #fff;
	color: #ca1818;
	padding: 16px;
}

.iw-error {
	color: #ca1818;
	border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin: 8px 0;
}