/*
 * Modal
 */

.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.75);
}

.modal {
	background: rgba(255,255,255,0.9);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	position: fixed;
	left: 392px; // width of sidebar + 10px;
	right: 32px;
	top: 32px;
	bottom: 32px;
	padding: 2em;

}

.nc-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  cursor: pointer;
}