@import 'modules/normalize';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/base';
@import 'modules/layout';

#loading {
	background-color: #fff;
	height: 100vh;
	display: flex;

	.centered-content {
		margin: auto;
		text-align: center;

	}
}


#map {
	height: 100vh;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #357ae8;
}

.sidebar {
	background-color: rgba(255,255,255,0.55);
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
	transition: all .4s;
	width: 360px;
	z-index: 99;

	&:hover {
		background-color: #e7f1d9;
	}
}

/********************************
 ** ERROR HANDLING **
 ********************************/

.data-fail-msg {
	color: #ca1818;
	padding: 16px;
}

/********************************
 ** TITLE AREA **
 ********************************/

.title-block {
	background-color: #222;
	padding: 16px;
	margin-bottom: 10px;
}

.main-title{
	color: #eee;
	font-size: 18px;
	font-weight: normal;
	margin:0 0 6px;
}

.date-range {
	display: block;
	font-weight: 400;
	font-size: 17px;
	color: #777;
}

.citation {
	font-size: 12px;
	color: #888;
}

.citation-link {
	color: #888;
	text-decoration: none;
	&:hover {
		color: #fff;
		text-decoration: underline;
	}
}

/********************************
 ** FILTERS **
 ********************************/
.filters {
	padding: 0 16px;
}

label {
	font-size: 15px;
}

input {
	background-color: #fff;
	font-size: 14px;
	padding: 5px;
	margin-top: 6px;
	width: 100%;
}

.selection-wrapper {
	margin-bottom: 8px;
}

.btn {
	color: #000;
	border-radius: 5px;
}

/********************************
 ** INCIDENT LIST **
 ********************************/
// li
.incident-item {
	cursor: pointer;
	padding: 10px 16px 10px 16px;
	transition: background-color .3s;
	
	&:hover {
		background-color:#C3D2AF;
		box-shadow: 1px 2px 3px rgba(0,0,0,0.33);
	}

	&.active {
		background-color: rgba(255,229,0,1.0);
	}
}

.incidents-list {
	padding: 0;
	list-style: none;
	line-height: 1.4;
}

.incident-title {
	font-size: 16px;
	margin: 0;
}

.incident-date {
	font-size: 14px;
	color: rgba(0,0,0,0.5);
}

/********************************
 ** INFO WINDOWS **
 ********************************/
.iw-title {
	font-size: 16px;
	margin-bottom: 6px;
}

.iw-timestamp {
	color: #888;
	margin-bottom: 10px;
}

.iw-related-stories {
  margin-bottom: 0;
  font-weight: 400;

  span {
  	font-style: italic;
  }

  .iw-custom-terms {
  	//background-color: #ffe500;
  }

  .iw-custom-terms-info {
  	color: #888;
  }
}

.iw-content {
	color: #555;
	font-size: 15px;
	font-family:sans-serif;
	line-height: 1.35;
	margin-bottom: 16px;

	img {
		float: left;
		margin: 0 1em 0 0;
	}

	.incident-address {
		font-style: italic;
		font-weight: bold;
	}

	.iw-citation-link {
		text-decoration: underline;
	}
}

.iw-more-information {
	clear: both;
	line-height: 1.25;
}

ul.news-stories {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #f0f0f0;
	list-style: none;
	padding: 0;
	margin: 12px 0;

	li {
		clear: left;
		overflow: hidden;
		padding: 6px 12px 6px 6px;
		margin: 6px 0;
	}

	li:nth-of-type(even){
		background-color:white;
	}
	
	// Remove bold text from text summary
	li b { 
		font-weight: 300;
	}

	.iw-headline {
		font-size: 15px;
		font-weight: 400;
		margin: 0 0 0 95px;
		line-height: 1.2;
	}
}